@page "/R_Libros"
@page "/R_Libros/{BookID:int}"


@inject NotificationService notificationService
@inject BooksBLL bookBll

<PageTitle>Registro Libros</PageTitle>

<head>
    <style>
        body {
            body {
                background-attachment:fixed;
                margin:0;
                padding:0;
                font-family:monospace;
                color: black;
            }

            h4 {

                color: black;

            }

            label{
                text-align:center;
            }

        
        }
    </style>
</head>

<body>
    <EditForm model="Books" OnValidSubmit="Guardar" >
        <DataAnnotationsValidator/>

        <div class="container">
            <div class="card text-black bg-light mb-3 shadow-lg">
                <div class="card-header">
                    <h4>Registro de libros</h4>
                </div>
                <div class="card-body">

                    <div class="form-group">

                        <div class="col-3 mb-3">
                            <label for="BookID">Book Id:</label>
                            <div class="input-group">
                                <input id ="BookID" type="text" class="form-control" @bind-value="book.BookID"/>
                                <button type="button" class="btn btn-primary" @onclick="Buscar"><i class="oi oi-magnifying-glass" />Buscar</button>
                            </div>
                        </div>

                        <div class="col-5 mb-3">
                            <label for="Titulo">Titulo:</label>
                            <div class="input-group">
                                <input @bind-value="book.Titulo"type="text" class="form-control" id="Titulo "/>
                            </div>
                        </div>

                        <div class="col-3 mb-3">
                            <label for="Precio">Precio</label>
                            <div class="input-group">
                                <input @bind-value="book.Precio" type="text" class="form-control" id="Precio"/>
                            </div>
                        </div>
                        <div class="mb-3">
                                <label for="Fprestamo"><b>Fecha Emision:</b></label>
                                <div class="input-group mb-6">
                                    <input @bind-value="book.Emison"  type="date"  class="form-control" aria-label="Recipient's username"
                                    aria-describedby="basic-addon2" id="FPrestamo"/>
                                </div>

                            </div>

                    </div>

                </div>

                <div class="card-footer d-flex justify-content-center">
                    <div class="row">
                        <div class="btn-group">
                            <button class="btn btn-success" type="button" @onclick="Guardar"><i class="oi oi-file"/>Guardar</button>
                            <button class="btn btn-primary" type="button" @onclick ="Nuevo"><i class="oi oi-document"/>Nuevo</button>
                            <button class="btn btn-danger" type="button" @onclick ="Eliminar"><i class="oi oi-trash"/>Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </EditForm>
</body>


@code
{

    [Parameter]

    public int BookID {get; set;}

    public Books book {get; set;} = new Books();

    protected override void OnInitialized(){

        if(BookID>0){
            this.book.BookID = BookID;
            this.Buscar();
        }
    }

    public void ShowNotification(NotificationMessage message)
    {
        notificationService.Notify(message);
    }

    public NotificationMessage Good(string mensaje, string detalle, int duracion)
    {
        return new NotificationMessage{Severity= NotificationSeverity.Success, Summary = mensaje, Detail = detalle, Duration = duracion};
    }

     public NotificationMessage Error(string mensaje, string detalle, int duracion)
    {
        return new NotificationMessage{Severity= NotificationSeverity.Error, Summary = mensaje, Detail = detalle, Duration = duracion};
    }
    private void Buscar()
    {
        var libroEncontrado = bookBll.Buscar(book.BookID);
        if(libroEncontrado != null)
        {
            Console.WriteLine($"Se encontro un libro con el ID:{this.book.BookID}");
            this.book= libroEncontrado;
            
        }
        else
        {
            Nuevo();
            Console.WriteLine("Id no existente");
        }
    }

    public void Nuevo(){
        this.book = new Books();
    }


    public bool Validar(){
        return this.book.Titulo != "" && this.book.Precio > 0;
    }

    public void Guardar(){

       
        if(Validar()){

            bookBll.Guardar(this.book);
            Console.WriteLine($"Se guardo en el {this.book.BookID}");
            ShowNotification(Good("Registro Actualizado", "Libro guardado correctamente", 5000));
            this.Nuevo();
        }
        else{
             ShowNotification(Error("Registro Actualizado", "No se a guardado nada, complete los campos", 5000));
            Console.WriteLine("Campos no validos o no completados");
        }
    }

    public void Eliminar()
    {
        if(Validar())
        {
            bool RES = bookBll.Eliminar(this.book);

            if(RES == false)
            {
                Console.WriteLine("Eliminado Correctamente");
                ShowNotification(Good("Registro actualizado","Instancia eliminada corectamente", 5000));
                Nuevo();
            }
            else
            {
                Console.WriteLine("Error al eliminar");
            }
        }
        else
        {
            ShowNotification(Error("No se ha borrado nada", "Posible Id no valido",5000));
            Console.WriteLine("Id No valido");
        }
    }
    







}